body{
    margin-top: 200px;
    margin-bottom: 200px;
}

#light-container,#dark-container{
    display: grid;
    grid-template-columns: repeat(25, 45px);
    grid-template-rows: repeat(7, 45px);
    grid-gap: 4px;

}

.back{
    background-color: skyblue;
    align-self: center;
    justify-self: center;
    height: 45%;
    width: 45%;
    border-radius: 50%;
}
.show{
    background-color: red;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    
}
#light-main,#dark-main{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
#dark-main{
    background-color: black;
}

.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    font-weight: bold;
    align-self: flex-end;

    margin-right: 10px;
    margin-top: -5px;
    
}

.trial{
    color: rgb(68, 228, 124);
    background-color: rgb(247, 212, 110);
}